/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home .heroText
  font-size 4.0em!important
  font-weight 550!important

.home .tagline
  font-size: 18px!important